html,
body {
  height: 100%;
}

body {
  background-color: gray;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
}

#clock_div_id {
  font-size: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
  height: 70px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.greetingword {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: white;
  animation: fadeIn 0.5s linear;
}

#function_screen {
  width: 100%;
  height: 100%;
}

#manu_container_id {
  width: 10%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

#manu_id {
  width: 100%;
  height: 100%;
  padding-top: 10%;
  background-color: #4d4d4d;
  transform: translate(-110%, 0px);
  transition: transform 600ms;
  opacity: 0.9;
}

#manu_id > div {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-bottom: 10px;
  color: #ffffff;
  box-shadow: 0px 1px 0px #ffffff;
  cursor: pointer;
}

#manu_id > div:hover {
  background-color: #808080;
}

#manu_open_btn_id {
  position: absolute;
  color: #ffffff;
  font-size: 30px;
  transition: font-size 0.1s ease-in;
  padding-left: 5px;
}

#manu_open_btn_id:hover {
  font-size: 33px;
}

#name_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

#name_container > div {
  width: 250px;
  height: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
}

#what_name_id {
  width: 85%;
  border: none;
  border-radius: 10px;
  padding-left: 5%;
  opacity: 0.7;
  font-size: 15px;
}

#name_btn {
  padding-right: 4%;
  opacity: 0.5;
}

input:focus {
  outline: none;
}
