body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

html,
body {
  height: 100%;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

#profile_main {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

#profile_title {
  width: 100%;
  height: 20%;
  background-color: blue;
}

#profile_content {
  width: 100%;
  height: 80%;
  background-color: brown;
}

#protile_menu {
  width: 150px;
  height: 500px;
  background-color: gray;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
}

#go_to_main {
  margin-top: 15px;
  width: 100%;
  height: 10%;
  background-color: coral;
  border: none;
}

#go_to_board {
  width: 100%;
  height: 10%;
  background-color: beige;
  border: none;
}
