html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.board_main_container_cl {
  width: 80%;
  height: 90%;
  background-color: rgba(153, 153, 153, 0.8);
}

.board_title_container_cl {
  width: 80%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.board_title {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.board_manu_container_cl {
  width: 30%;
  height: 80%;
  background-color: black;
}

.board_content_container_cl {
  width: 50%;
  height: 50%;
  background-color: tomato;
  position: absolute;
  bottom: 50%;
  right: 50px;
}
