html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 0px 0px 0px;
}

.bgImage {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.board_main_container_cl {
  width: 80%;
  height: 90%;
  background-color: rgba(153, 153, 153, 0.8);
  display: block;
  flex-direction: column;
}

.board_title_container_cl {
  width: 80%;
  height: 18%;
  margin-left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

.board_title {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.board_content_container_cl {
  width: 100%;
  height: 75%;
  display: flex;
  flex-direction: row;
}

.content_menu {
  width: 20%;
  margin-top: 25px;
  display: block;
  justify-content: center;
  align-items: center;
  border-right: 1px solid white;
}

.menu_content_container {
  padding: 10px;
  width: 65%;
  margin-left: 12.5%;
  border-bottom: 1px solid white;
}

.menu_content {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.content_borad {
  width: 70%;
  background-color: teal;
  margin-top: 25px;
}

.content_borad_title {
  width: 88%;
  margin-left: 2%;
  height: 30px;
  padding-left: 10%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 20px;
  color: white;
}

.board_btn_container_cl {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.write_btn {
  background-color: gray;
  border: none;
  position: relative;
  left: -10%;
  width: 80px;
  height: 30px;
  font-size: 15px;
  color: white;
}
.content_borad_input_div_cl {
  display: flex;
  padding-left: 152px;
  padding-right: 74px;
  border: none;
  opacity: 0.7;
}
.content_borad_input_cl {
  width: 100%;
  height: 15px;
}
